<% meta title: "Sanitize Cold Email Prospects", description: "Upload a list of cold email outreach prospects to automatically clean up the merge variables. 100% Free. Click to learn more." %>

<div class="jumbotron">
  <h1>Warm up your cold email</h1><br>
  <p>Sanitize popular merge variables before you hit send</p>
  <button class="btn btn-primary">upload a csv</button>
</div>
