<% meta title: "Sanitize Cold Email Prospects", description: "Upload a list of cold email outreach prospects to automatically clean up the merge variables. 100% Free. Click to learn more." %>

<div class="jumbotron">
  <h1>Warm up your cold email</h1><br>
  <p>Sanitize popular merge variables before you hit send</p>
  <%= simple_form_for(@batch) do |f| %>
    <%= f.submit class: "btn btn-primary", value: 'upload a csv' %>
  <% end %>
</div>


<div class="pitch">
  <div class="col-md-4">
    <h3>Huh?</h3>
    <p>You scrape contact information. It looks like shit. This tool cleans it up before you start embarassing yourself.</p>
  </div>
  <div class="col-md-4">
    <h3>How does it work?</h3>
    <p>This removes garbage from company names (ie: 'LLC') and fixes people names too. And some other stuff.</p>
  </div>
  <div class="col-md-4">
    <h3>What's the catch?</h3>
    <p>No catch. Not yet. Doesn't even require your email, just import and export. Whole thing takes seconds.</p>
  </div>
</div>
