/* Global */
body {font-family: Helvetica, Arial}
.jumbotron {background-color: transparent; text-align: center}
.gap {margin-top: 60px}

/* Navigation */
.navbar {background-color: transparent; border: none}
.navbar-toggle {border: none}

// Landing
.pitch {height: 300px}

// Import
#import-form {text-align: center}
input#file {display: none}

// View
.what-was-done span {font-weight: bold; color: blue}
.table-header, .table-footer {text-align: center; font-size: 18px; font-style: italic}
td.sanitized {background-color: lightgreen}

/* User Authentication */
.form-signin {max-width: 350px; padding: 15px; margin: 0 auto;}
.form-signin .form-signin-heading, .form-signin .checkbox {margin-bottom: 10px;}
.form-signin .checkbox {font-weight: normal;}
.form-signin .form-control {position: relative; height: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 10px; font-size: 16px;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input {margin-bottom: 10px;}
.form-signin input {margin-bottom: 0;}

// iPhone 4
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.pitch {height: 350px}

	// insert
}

// iPhone 5
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	// insert
}

// iPhone 6
@media only screen and (min-device-width : 375px) and (max-device-width : 627px) {
	// insert
}

// iPhone 6+
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
	// insert
}
